.spinner .loader {
  margin:0;
  font-size:4px;
  position:relative;
  text-indent:-9999em;
  border-top:1.5em solid rgba($gray-lighter, 0.2);
  border-right:1.5em solid rgba($gray-lighter, 0.2);
  border-bottom:1.5em solid rgba($gray-lighter, 0.2);
  border-left:1.5em solid rgba($gray-lighter, 1);
  transform: translateZ(0);
  animation: spinner 1.1s infinite linear;
  box-sizing: border-box;
}
.spinner .loader,.spinner .loader:after {
	border-radius:50%;
	width:40px;
	height:40px;
}

@keyframes spinner {
  0% {
  	-webkit-transform:rotate(0deg);
  	transform:rotate(0deg);
  }
  100% {
  	-webkit-transform:rotate(360deg);
  	transform:rotate(360deg);
  }
}

/* Spinner container
 * ====================================================== */
.spinner-container {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
}

/* Spinner animation
 * ====================================================== */
.spinner {
  &.ng-enter {
    animation: 0.15s fadeInDown;
    
    &.ng-enter-active {
    }
  }
  
  &.ng-leave {
    animation: 0.15s fadeOutUp;
    
    &.ng-leave-active {
    }
  }
}