@import "variables";

.modal-background {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  
  background-color: rgba(0, 0, 0, 0.4);
  
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.3s ease-out;
  
  &.modal-shown {
    visibility: visible;
    opacity: 1;
  }
}

.modal-overlay {
  width: 800px;
  height: 430px;
  
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $gray-lighter;
}

/** Movie Modal **/
.modal-overlay {
  .content {
    box-sizing: border-box;
    width: 500px;
    float: left;
    padding: $padding-general;
  }
  
  .poster {
    width: 300px;
    height: 430px;
    float: right;
    overflow: hidden;
  }
  
  h1.title {
    font-weight: bold;
    font-size: 1.8em;
    color: $brand-primary;
  }
  
  blockquote {
    font-style: italic;
    line-height: 1.1;
    color: #95A4A5;
    margin: 0.1em 0.1em 1em 0.1em;
    font-size: 1em;
  }
  
  p.description {
    font-size: 0.9em;
    font-family: $font-family-serif;
    color: #7E8B8C;
  }
  
  .actions {
    a {
      margin-right: 0.4em;
    }
  }
}