@import "variables";
@import "animations/shake";

/* Body no-scroll
   ======================================================
   Currently the `15px` magic number is the scrollbar width. We need to remove it by
   detecting the scrollbar width in the browser:
    - http://davidwalsh.name/detect-scrollbar-width
    - https://github.com/twbs/bootstrap/commit/0907244256d923807c3a4e55f4ea606b9558d0ca#diff-5492e5c74c97b8b5256879d136b55c88R992 
   ====================================================== */
body.noscroll {
  overflow: hidden;
  padding-right: 15px;
}

.noscroll .navbar {
  padding-right: 45px;
}

/* Modal Elements 
 * ====================================================== */
.modal-background {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  
  background-color: rgba(0, 0, 0, 0.4);
  
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.3s ease-out;
  
  &.modal-shown {
    visibility: visible;
    opacity: 1;
  }
}

.modal-overlay {
  position: fixed;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -20%);
  
  .modal-container {
    width: 100%;
    height: 100%;
    background-color: $gray-lighter;
  }
  
  h3 {
    padding: 0;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 1.8rem 0;
  }
  
  .modal-actions {
    text-align: right;
  }
}

/* Animations 
 * ====================================================== */
.modal-background {
  
  //== Show
  &.modal-animation-shown {
    .modal-container {
      animation: zoomIn 0.4s;
    }
  }
  
  //== Leaving
  &.modal-animation-leaving {
    opacity: 0 !important;
    
    .modal-container {
      animation: zoomOut 0.4s;
    }
  }
  
  //== Shake
  &.modal-animation-shake {
    .modal-container {
      animation: shakeSlow 0.4s;
    }
  }
  
  //== Success
  &.modal-animation-successed {
    .modal-container {
      animation: pulse 0.4s;
    }
  }
}

/* Modal forms
 * ====================================================== */
.modal-overlay form {
  padding: $padding-general;
  
  input[type="text"], 
  input[type="email"],
  input[type="password"] {
    width: 100%;
  }
}

/* Add Watchlist modal 
 * ====================================================== */
.modal-watchlist {
  .modal-overlay {
    width: 400px;
    height: 200px;
  }
}

/* Add User modal
 * ====================================================== */
.modal-add-user {
  .modal-overlay {
    width: 400px;
    height: 200px;
  }
}

/* Movie Modal
 * ====================================================== */
.modal-movie {
  .modal-container {
    width: 900px;
    height: 430px;
  }
  
  .content {
    box-sizing: border-box;
    width: 600px;
    float: left;
    padding: $padding-general;
    overflow-y: auto;
    max-height: 430px;
  }
  
  .poster {
    width: 300px;
    height: 430px;
    float: right;
    overflow: hidden;
  }
  
  h1.title {
    font-weight: bold;
    font-size: 1.8em;
    color: $brand-primary;
    padding: 0;
    text-transform: none;
    margin: 0 0 0.2em 0;
  }
  
  blockquote {
    font-style: italic;
    line-height: 1.1;
    color: #95A4A5;
    margin: 0.1em 0.1em 1em 0.1em;
    font-size: 1em;
  }
  
  p.description {
    margin-top: 1.8em;
    font-size: 0.9em;
    color: #7E8B8C;
  }
  
  .actions {
    margin: 1.2em 0;
    a {
      margin-right: 0.4em;
    }
  }
}