ul.movies-list {
  list-style-type: none;
  width: 100%;
  
  li {
    list-style-type: none;
    display: block;
    width: 100%;
    margin: 0.3em 0;
    padding: 0.3em;
    
    &.ng-enter {
      animation: fadeIn 0.4s;
    }
  }
}