@import "variables";

.movie-cover {
  float: left;
  margin-right: 2rem;
  
  img {
    box-shadow: 1px 0px 4px 0px rgba(0,0,0,0.2);
  }
}

.movie-description {
  padding: 2.2rem;
}

.movie-name {
  font-family: $font-family-sans-serif;
  font-size: 1.2em;
  color: $brand-primary;
}

.movie-info {
  color: $text-color;
  
  p {
    margin: 0;
    padding: 0;
    color: lighten(#7E8B8C, 5%);
    font-weight: normal;
  }
}

.movie-actions {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 1.4rem 1.4rem 0;
  
  a {
    margin-left: 0.6em;
  }
}

ul.movie-data {
  font-family: $font-family-sans-serif;
  font-size: 0.9em;
  color: $gray;
  list-style-type: none;
  width: 100%;
  margin: 0.2em 0;
  
  > li {
    list-style-type: none;
    display: inline-block;
    margin-right: 1em;
    
    span.oi {
      color: $gray;
      font-size: 1.1em;
      width: 17px;
    }
  }
}

ul.movies-list {
  list-style-type: none;
  width: 100%;
  
  > li {
    position: relative;
    
    height: 170px;
    cursor: pointer;
    
    list-style-type: none;
    display: block;
    width: 100%;
    margin: 2rem 0;
    padding: 0;
    
    background-color: white;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.05);
    
    @extend .clearfix;
    
    &.ng-enter {
      //animation: fadeInDown 0.4s;
      overflow: hidden;
      transition: height 0.4s ease;
      height: 0;
      
      &.ng-enter-active {
        height: 170px;
      }
    }
    
    &.ng-leave {
      //animation: fadeOutDown 0.4s;
      overflow: hidden;
      transition: height 0.4s ease-in;
      
      &.ng-leave-active {
        height: 0;
      }
    }
    
    &:first-of-type {
      margin-top: 0;
    }
  }
}

/* Genres
 * ====================================== */
ul.movie-genres {
  list-style-type: none;
  margin: 0;
}

li.movie-genre {
  border-radius: 2px;
  padding: $padding-min $padding-smaller;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  
  background-color: #7f8c8d;
  color: white;
  
  display: inline-block;
  margin-right: 0.4rem;
}

li.movie-genre {
  &.movie-genre-drammatico,
  &.movie-genre-dramma        { background-color: #16a085; }
  &.movie-genre-azione        { background-color: #d35400; }
  &.movie-genre-commedia      { background-color: #27ae60; }
  &.movie-genre-romantico,
  &.movie-genre-romance       { background-color: #c0392b; }
  &.movie-genre-guerra        { background-color: #e67e22; }
  &.movie-genre-avventura     { background-color: #f39c12; }
  &.movie-genre-animazione    { background-color: #2e8ece; }
  &.movie-genre-giallo        { background-color: #d35400; }
  &.movie-genre-crime         { background-color: #c0392b; }
  &.movie-genre-fantasy       { background-color: #8e44ad; }
  &.movie-genre-horror        { background-color: #c0392b; }
  &.movie-genre-fantascienza  { background-color: #8e44ad; }
  &.movie-genre-storia        { background-color: #9b59b6; }
  &.movie-genre-thriller      { background-color: #34495e; }
}
