@import "variables";

.movie-cover {
  float: left;
  margin-right: 0.4em;
  
  img {
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.4);
  }
}

.movie-description {
  padding: 0.4em;
}

.movie-name {
  font-family: $font-family-sans-serif;
  font-size: 1.2em;
  color: $brand-primary;
}

.movie-info {
  color: $gray;
  
  p {
    margin: 0;
    padding: 0;
  }
}

ul.movie-data {
  font-family: $font-family-sans-serif;
  font-size: 0.9em;
  color: $gray;
  list-style-type: none;
  width: 100%;
  margin: 0.2em 0;
  
  > li {
    list-style-type: none;
    display: inline-block;
    margin-right: 1em;
    
    span.oi {
      color: $gray;
      font-size: 1.1em;
      width: 17px;
    }
  }
}

ul.movies-list {
  list-style-type: none;
  width: 100%;
  
  > li {
    list-style-type: none;
    display: block;
    width: 100%;
    margin: 2rem 0;
    padding: 2rem;
    
    background-color: white;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.05);
    
    @extend .clearfix;
    
    &.ng-enter {
      animation: fadeInDown 0.4s;
    }
  }
}