//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #2c3e50 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   #7e8b8c; // #555
$gray-light:             #95a4a5; //lighten($gray-base, 46.7%) !default; // #777
$gray-very-light:        #bdc3c7;
$gray-lighter:           #ecf0f1; // lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         #0B486A !default;
$brand-success:         #51b26d !default;
$brand-info:            #3996d3 !default;
$brand-warning:         #e67d20 !default;
$brand-danger:          #e74b3c !default;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               $gray-lighter !default;
//** Global text color on `<body>`.
$text-color:            #34495e !default;

//** Global textual link color.
$link-color:            $brand-info !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "Bitter", Georgia, "Times New Roman", Times, serif !default;
$font-family-text:        "Helvetica Neue", Helvetica, Arial, sans-serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

//== Padding
$padding-general: 32px;
$padding-medium: 16px;
$padding-small: 8px;
$padding-smaller: 6px;
$padding-min: 3px;

//== Navbar
$navbar-height: 60px;
$navbar-brand-img-height: 38px;

//== Clearfix
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
