@import "variables";

* { box-sizing: border-box; }

/* General Typography
 * =============================================================== */
body {
  font-family: $font-family-sans-serif;
  background-color: $body-bg;
  color: $text-color;
}

/* Links
 * =============================================================== */
@import "links";

/* Navbar
 * =============================================================== */
@import "navbar";

/* Modal
 * =============================================================== */
@import "modal";

/* Forms
 * =============================================================== */
.form-inline {
  input, button {
    display: inline-block;
  }
}

@import "ui";

/* Alert
 * =============================================================== */
div.alert {
  &.ng-enter {
    animation: 0.5s fadeInDown;
    transition: 1s linear all;
    max-height: 0;
  }
  
  &.ng-enter-active {
    transition: 1s linear all;
    max-height: 999px;
  }
  
  &.ng-leave {
    animation: 0.5s fadeOutDown;
    transition: 1s linear all;
    max-height: 999px;
  }
  
  &.ng-leave-active {
    transition: 1s linear all;
    max-height: 0;
  }
}

@import "movies";
@import "watchlist";
@import "loader";
@import "search";