@import "variables";

body {
  padding-top: 70px;
}

.navbar-brand {
  padding-top: 6px;
  
  img {
    height: 48px;
  }
}

div.alert.ng-enter {
  animation: 0.5s fadeInDown;
}

div.alert.ng-leave {
  animation: 0.5s fadeOutDown;
}

@import "movies";
@import "loader";