<ng-modal-box class="modal-movie">
    <div class="content">
        <h1 class="title">{{ movieCtrl.movie.title || movieCtrl.movie.model.name }}</h1>
    
        <blockquote ng-if="movieCtrl.movie.model.tagline || movieCtrl.movie.tagline">{{ movieCtrl.movie.model.tagline || movieCtrl.movie.tagline }}</blockquote>
        
        <movie-data movie="movieCtrl.movie"></movie-data>
        
        <movie-genres movie="movieCtrl.movie"></movie-genres>
        
        <div class="actions">
            <movie-check-button movie="movieCtrl.movie"></movie-check-button>
            <div class="btn-dropdown btn-dropdown-action">
                <a class="btn btn-action">
                    <span class="oi" data-glyph="eye"></span> Add to Watchlist
                </a>
                <ul>
                    <li ng-repeat="watchlist in movieCtrl.watchlists.models">
                        <a ng-click="movieCtrl.addToWatchlist(watchlist)">{{ watchlist.model.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
    
        <p class="description">{{ movieCtrl.movie.model.overview }}</p>
    </div>
    <div class="poster">
        <movie-img movie="movieCtrl.movie" width="300px" height="430px"></movie-img>
    </div>
</ng-modal-box>