<div class="container">
    <div class="row">
        <div class="twelve columns">
            <alert ng-repeat="alert in moviesCtrl.alerts" type="{{alert.type}}" close="moviesCtrl.closeAlert($index)">{{alert.message}}</alert>
            
            <ul class="movies-list">
                <li ng-repeat="movie in moviesCtrl.movies.models">
                    <div class="movie-cover">
                        <movie-img movie="movie" size="80px"></movie-img>
                    </div>
                    <div class="movie-description">
                        <div class="movie-name">{{movie.name}}</div>
                        <div class="movie-info">
                            <movie-data movie="movie"></movie-data>
                            <p>
                               {{movie.overview | characters:200 }} 
                            </p>
                        </div>
                    </div>
                    <div class="movie-actions">
                        <movie-check-button movie="movie" small="true"></movie-check-button>
                        <a ng-click="moviesCtrl.checkMovie(movie)" class="btn btn-small btn-action">
                            <span class="oi" data-glyph="check"></span> Check for everyone
                        </a>
                    </div>
                </li>
                <li>
                    <form class="form-inline" role="form">
                        <input type="text" class="form-control" id="movieTitle" placeholder="Title" ng-model="moviesCtrl.inlineMovie.name">
                        <input type="text" class="form-control" id="movieDirector" placeholder="Director" ng-model="moviesCtrl.inlineMovie.director">
                        <input type="text" class="form-control" id="movieYear" placeholder="Year" ng-model="moviesCtrl.inlineMovie.year">
                        <button type="submit" class="btn btn-normal" ng-click="moviesCtrl.addMovie()">Add</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>