<div class="container">
    <div class="row">
        <div class="twelve columns">
            
            <div class="spinner" ng-if="moviesCtrl.loading">
                <div class="loader">Loading</div>
            </div>
            
            <h2>My movies</h2>
            
            <alert ng-repeat="alert in moviesCtrl.alerts" type="{{alert.type}}" close="moviesCtrl.closeAlert($index)">{{alert.message}}</alert>
            
            <ul class="movies-list">
                <li ng-repeat="movie in moviesCtrl.movies.models" class="row">
                    <div class="movie-cover col-md-2">
                        <div class="movie-cover-placeholder"></div>
                    </div>
                    <div class="movie-description col-md-10">
                        <div class="movie-name">{{movie.getName()}}</div>
                        <div class="movie-info">{{movie.getDirector()}} &mdash; {{movie.getYear()}}</div>
                    </div>
                </li>
                <li>
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="movieTitle">Title</label>
                            <input type="text" class="form-control" id="movieTitle" placeholder="Title" ng-model="moviesCtrl.inlineMovie.name">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="movieDirector">Director</label>
                            <input type="text" class="form-control" id="movieDirector" placeholder="Director" ng-model="moviesCtrl.inlineMovie.director">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="movieYear">Year</label>
                            <input type="number" class="form-control" id="movieYear" placeholder="Year" ng-model="moviesCtrl.inlineMovie.year">
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="moviesCtrl.addMovie()">Add</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>