<div class="modal-background modal-add-user" ng-class="{ 'modal-shown' : shown }">
    <div class="modal-overlay">
        <div class="modal-container">
            <form role="add-user">
                <h3>Add User to Watchlist</h3>
                <input type="text" placeholder="Mail or Username" class="form-control" ng-model="singleCtrl.addUserQuery" />
                <br />
                <div class="modal-actions">
                    <button class="btn btn-normal" type="button" ng-click="close(false)">Cancel</button>
                    <button class="btn btn-action" type="button" ng-click="close(true, singleCtrl.addUserQuery)">Add User</button>
                </div>
            </form>
        </div>
    </div>
</div>