<div class="watchlist-header">
    <div class="actions">
        <a class="btn btn-action" ng-click="singleCtrl.addUser()">
            <span class="oi" data-glyph="plus"></span> Add User
        </a>
    </div>
    
    <h2>{{ singleCtrl.watchlist.name }}</h2>
    <p class="users">
        <span ng-repeat="user in singleCtrl.watchlistUsers.models">
            {{ user.displayName() }}{{ $last ? '' : ', ' }}
        </span>
        &nbsp;
    </p>
</div>
<ul class="movies-list">
    <li ng-repeat="movie in singleCtrl.movies.models">
        <div class="movie-cover">
            <movie-img movie="movie" size="80px"></movie-img>
        </div>
        <div class="movie-description">
            <div class="movie-name">{{movie.name}}</div>
            <div class="movie-info">
                <movie-data movie="movie"></movie-data>
                <p>
                   {{movie.overview | characters:200 }} 
                </p>
            </div>
        </div>
    </li>
</ul>