<div class="container">
    <div class="row">
        <div class="four columns watchlists-sidebar">
            <h2>Watchlists</h2>
            <ul class="watchlists">
                <li ng-repeat="watchlist in watchlistCtrl.watchlists.models">
                     <a class="watchlist" ui-sref-active="active" ui-sref="watchlist.single({ normalizedName: watchlist.normalizedName })">
                         {{watchlist.name}}
                     </a>
                     <a class="remove" ng-click="watchlistCtrl.removeWatchlist(watchlist)"><span class="oi" data-glyph="circle-x"></span></a>
                </li>
            </ul>
            
            <a ng-click="watchlistCtrl.createWatchlist()" class="btn btn-action">
                <span class="oi" data-glyph="plus"></span> Create Watchlist
            </a>
        </div>
        <div class="eight columns">
            <div ui-view></div>
        </div>
    </div>
</div>