<li ng-click="showDetail()">
    <div class="movie-cover">
        <movie-img movie="movie" height="170px" width="120px"></movie-img>
    </div>
    <div class="movie-description">
        <div class="movie-name">{{movie.model.name || movie.title}}</div>
        <div class="movie-info">
            <movie-data movie="movie"></movie-data>
        </div>
        <movie-genres movie="movie"></movie-genres>
    </div>
    <div class="movie-actions">
        <movie-check-button movie="movie" small="true"></movie-check-button>
        <movie-watchlist-remove-button ng-if="watchlist" movie="movie" watchlist="watchlist" small="true"></movie-watchlist-remove-button>
    </div>
</li>