<!DOCTYPE html>
<html>
    <head>
        <title>Cinapp</title>

        <!-- social media tags -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@leonardfactory">
        <meta name="twitter:title" content="Cinapp">
        <meta name="twitter:description" content="A platform to make movie choice easier.">
        <meta name="twitter:creator" content="@leonardfactory">
        <!-- <meta name="twitter:image:src" content=""> -->
        <meta property="og:title" content="Cinapp" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://cinapp.com" />
        <!-- <meta property="og:image" content="" /> -->
        <meta property="og:description" content="A platform to make movie choice easier.">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
        
        <!-- bower:css -->
        <!-- endinject -->
        <!-- assets:css -->
        <!-- endinject -->
        <!-- app:css -->
        <!-- endinject -->
    </head>
    <body>
        <nav class="navbar u-full-width" role="navigation">
            <div class="u-pull-right" ng-controller="LoginController as loginCtrl" ng-cloak>
                <ul class="navbar-menu" ng-if="loginCtrl.logged === false">
                    <li ui-sref-active="active"><a ui-sref="main">Home</a></li>
                    <li>
                        <form class="navbar-form form-inline" role="login" > <!-- -->
                            <input type="text" class="form-control form-control-negative" placeholder="Username" ng-model="loginCtrl.user.username">
                            <input type="password" class="form-control form-control-negative" placeholder="Password" ng-model="loginCtrl.user.password">
                            <button type="submit" class="btn btn-primary" ng-click="loginCtrl.login()">Login</button>
                        </form>
                    </li>
                </ul>
                <ul class="navbar-menu" ng-if="loginCtrl.logged === true">
                    <li ui-sref-active="active"><a ui-sref="main">Home</a></li>
                    <li ui-sref-active="active"><a ui-sref="movies">My Movies</a></li>
                    <li ui-sref-active="active"><a ui-sref="watchlist">Watchlists</a></li>
                    <li ui-sref-active="active"><a ui-sref="search">Search</a></li>
                    <li ui-sref-active="active"><a ui-sref="add">Add</a></li>
                    <li><a class="logout" ng-click="loginCtrl.logout()">Logout</a></li>
                </ul>
            </div>
            <a class="nav-brand" href="#">
                <img src="assets/images/nav-logo-negative.png" />
            </a>
            
            <!-- Loader -->
            <div class="spinner-container" ng-cloak ng-controller="LoaderController as loaderCtrl">
                <div class="spinner" ng-if="loaderCtrl.loading">
                    <div class="loader">Loading</div>
                </div>
            </div>
        </nav>
        <!--<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="assets/images/nav-logo-big.png" />
                    </a>
                </div>
                
                <div collapse="navCollapsed" class="collapse navbar-collapse" ng-controller="LoginCtrl as loginCtrl">
                    <form class="navbar-form navbar-right" role="login" ng-if="loginCtrl.logged === false">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username" ng-model="loginCtrl.user.username">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Password" ng-model="loginCtrl.user.password">
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="loginCtrl.login()">Login</button>
                    </form>
                    <ul ng-if="loginCtrl.logged === true" class="nav navbar-nav navbar-right">
                        <li ui-sref-active="active"><a ui-sref="main">Home <span class="sr-only">(current)</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="movies">My Movies</a></li>
                        <li ui-sref-active="active"><a ui-sref="search">Search</a></li>
                        <li ui-sref-active="active"><a ui-sref="add">Add</a></li>
                    </ul>
                    <ul ng-if="loginCtrl.logged === false" class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#/">Home <span class="sr-only">(current)</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>-->
        
        <div ui-view></div>
        <!-- bower:js -->
        <!-- endinject -->
        <!-- assets:js -->
        <!-- endinject -->
        <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.3.2.min.js"></script>
        <!-- shared:js -->
        <!-- endinject -->
        <!-- app:js -->
        <!-- endinject -->
        <!-- inject:js -->
        <!-- endinject -->
    </body>
</html>