<div class="container">
    <div class="row">
        <div class="twelve columns">
            <form role="search" ng-submit="searchCtrl.search()" class="form-center">
                <input type="text" class="form-control form-control-wide" placeholder="Search..." ng-model="searchCtrl.query">
                <button class="btn btn-action" type="submit">Search</button>
            </form>
        </div>
    </div>
    
    <!-- Results -->
    <div class="row">
        <div class="twelve columns">
            <ul class="movies-list">
                <movie-list-item movie="movie" ng-repeat="movie in searchCtrl.results"></movie-list-item>
            </ul>
        </div>
    </div>
</div>